<div class="modal fade modal-lg"
		id="inOutCashModal"
		tabindex="-1"
		aria-labelledby="inOutCashModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="inOutCashModalLabel"></h1>
					<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="cash-amount"
								id="cash-amount-label"
								class="col-form-label"></label>
							<div class="input-group has-validation">
								<input type="number"
									step="0.01"
									min="0"
									class="form-control"
									id="cash-amount" />
								<div class="invalid-feedback">Укажите сумму больше нуля!</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal">
						Закрыть
					</button>
					<button type="button"
						class="btn btn-primary"
						id="cash-operation-button"></button>
				</div>
			</div>
		</div>
	</div>