<div class="modal fade modal-lg"
	id="closeShiftPromptModal"
	tabindex="-1"
	aria-labelledby="closeShiftPromptModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="closeShiftPromptModalLabel">
					Закрытие смены
				</h1>
				<button type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h2>Внимание!</h2>Вы собираетесь закрыть смену в ККТ. После этого
				действия вы не сможете проводить операции с кассой до открытия новой
				смены. Вы уверены, что хотите продолжить?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Отмена
				</button>
				<button type="button"
					class="btn btn-warning"
					id="closeShift"
					data-bs-dismiss="modal">
					Закрыть смену
				</button>
			</div>
		</div>
	</div>
</div>
